/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width:100%;
}

/* DEBUG */
.debug main{
    background-color: aquamarine;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

main{
    margin-top: 80px;
}

.flex{
    display: flex;
}

.container-large{
    width:85%;
    margin: 0 auto;
}
.container-small{
    width:70%;
    margin: 0 auto;
}

.btn{
    padding: 8px 25px;
}

.btn-blue{
    color: white;
    background-color: #0061ff;
}

/* HEADER */
/* Navbar */
header{
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}

nav a{
    color: black;
    text-decoration: none;
}

nav li{
    padding: 20px;
}

.menu-left a{
    vertical-align: middle;
}

/* MAIN */
/* jumbotron */
.jumbotron-layout{
    background-color: #b4d0e7;
    height: 800px;
    padding: 100px;
}

.jumbotron-content{
    position: relative;
}

.jumbotron-content h1{
    font-size: 85px;
}

.jumbotron-description a{
    text-decoration: none;
}

.jumbotron-description p, .jumbotron-cta{
    margin-bottom: 50px;
}

.jumbotron-columns{
    position: absolute;
    top: 290px;
}

.jumbotron-description{
    width: 40%;
    padding-right: 100px; 
    height: 320px;
}

.jumbotron-image{
    width: 60%;
}

.fa-arrow-down{
    font-size: 40px;
}
