/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width:100%;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

main{
    margin-top: 80px;
}

.flex{
    display: flex;
}

.container-large{
    width:85%;
    margin: 0 auto;
}
.container-small{
    width:65%;
    margin: 0 auto;
}

.btn{
    padding: 8px 25px;
    text-decoration: none;
}

.btn-blue{
    color: white;
    background-color: #0061ff;
}

.btn-white{
    color: black;
    border: 1px solid black;
}

/* HEADER */
/* Navbar */
header{
    background-color: white;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}

nav a{
    color: black;
    text-decoration: none;
}

nav li{
    padding: 20px;
}

.menu-left a{
    vertical-align: middle;
}

/* MAIN */
/* jumbotron */
.jumbotron-layout{
    background-color: #b4d0e7;
    height: 800px;
    padding: 100px;
}

.jumbotron-content{
    position: relative;
}

.jumbotron-content h1{
    font-size: 85px;
}

.jumbotron-description a{
    text-decoration: none;
}

.jumbotron-description p, .jumbotron-cta{
    margin-bottom: 50px;
}

.jumbotron-columns{
    position: absolute;
    top: 290px;
}

.jumbotron-description{
    width: 40%;
    padding-right: 100px; 
    height: 320px;
}

.jumbotron-image{
    width: 60%;
}

.fa-arrow-down{
    font-size: 40px;
}

/* Plans */
.plans{
    margin-top: 250px;
}

.plans h2{
    font-size: 45px;
    margin-bottom: 50px;
}

.monthly, .annual{
    display: inline-block;
    margin-right: 20px;
}

.invoices{
    margin-bottom: 40px;
}

.invoices * {
    vertical-align: middle;
}

.invoice-circle{
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid lightgray ;
    border-radius: 50%;
    display: inline-block;
}

.invoice-selected{
    border: 3px solid blue ;
}

/* Plans */

.plans-column-layout{
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .plan-content{
    border: 1px solid lightgray; 
} */

.plan-layout{
    width: calc( (100% / 3) - 40px);
    height: 1200px;
    margin-bottom: 50px;
    border: 1px solid lightgray;
}



.plan-title{
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    justify-content: center;
    align-items: center;
}

.plan-name{
    font-size: 25px;
}

.plan-name, .plan-price{
    font-weight: bold;
}

.plan-duration{
    color: #768490;
}

.plan-description{
    /* padding: 25px 25px 200px 25px; */
    padding: 25px;
    
}

.plan-buy-now{
    color: #0c68ff;
}

.plan-buy{
    margin-bottom: 30px;
}

.plan-description hr{
    width: 20%;
}

.plan-description > div{
    margin-bottom: 50px;
}

.plan-description > div > div, .plan-points li{
    margin-bottom: 25px;
}

.plan-line{
    width: 20%;
    height: 30px;
    border-bottom: 1px solid lightgray;
}

.plan-points i {
    color: #0363ff;
}

/* Plan single column */

.plan-layout-onecolumn{
    width: 100%;
    border: 1px solid lightgray;
}

.plan-layout-onecolumn .plan-title{
    border-bottom: 1px solid lightgray;
}

.plan-description-onecolumn{
    padding: 25px;
    /* border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
}

.plan-left{
    width: calc( (100% / 3) * 2);
}

.plan-left > div{
    margin-bottom: 20px;
}

#plan-enterprise > *{
    padding: 20px;
}

.plan-name-onecolumn{
    font-weight: 700;
    font-size: 30px;
}

.plan-contact{
    font-weight: 700;
    font-size: 20px;
}

.plan-right{
    width: calc( 100% / 3);
    padding: 8px;
    text-align: end;
}
.plan-right a{
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* Partner */
.partner-layout{
    padding: 150px 0px;
}

.partner-image{
    width: 60%;
}

.partner-text{
    width:40%;
    padding: 60px;
    padding-right: 0px;
}

.partner-title, .partner-description{
    margin-bottom: 30px;
    font-size: 18px;
}

.partner-description{
    line-height: 30px;
}
